{% extends "automath/base.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">AutoMath</h1>
            <p class="lead">Pages pour développer et entretenir les automatismes en Mathématique </p>
            <p class="lead">Des exercices avec des variables "aléatoires"</p>
        </div>
    </div>


    <div class="container">
    <h2> Filtrez pour trouver votre exercice. </h2>
        <div class="row">
            <div class="col-sm">
                <form method="get">
                    {{ filter.form.as_p }}
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
            <div class="col-sm">
                {% for obj in filter.qs %}
                    <a href="{{ obj.titre }}">{{ obj.titre }}</a>   ({{ obj.niveau }}) - {{ obj.question }}  <br/>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}
