{% extends "automath/base.html" %}
{% load static %}

{% block content %}
    <div style="width: 180px">
        <button id="demarrer" class="btn btn-success"> Démarrer</button>
        <button id="restart" class="btn btn-warning"> Restart</button>
        <input type="range" class="form-control-range"
               id="formControlRange"
               value=3
               min="0"
               max="60"
               oninput="affichageTemps(this.value)">
        <p id="demo"></p>
    </div>

    <p>{{ question }}
    <ol style="text-align: center" id="questions">
        {% for cle,valeur in dico_questions.items %}
            <li class="masqué"><p class="numero_question"> Question </p> \( {{ cle }} \) </li>
        {% endfor %}
    </ol>
    </p>

    <ol style="text-align: center" id="réponses" class="masqué">
        {% for cle,valeur in dico_questions.items %}
            <li> $$ {{ cle }} = {{ valeur }} $$ <HR> </li>
        {% endfor %}
    </ol>
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'automath/script_perso.js' %}"></script>
{% endblock %}


